@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
  position: relative;
}

header {
  background-color: #0e0e18;
  height: 7vh;
  width: 100%;
  padding-top: 7px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    div {
      p {
        color: #ffffff6e;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}

.number {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  div {
    p {
      color: #414157;
      font-size: 12px;
      font-weight: 400;
    }
    h4 {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
    }
  }
  i {
    color: #fff;
    font-size: 25px;
  }
}

main {
  background-image: url(/img/bg6\ 1.png);
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .data {
    padding: 3px;
    background-color: #d4d4d4b0;
    h2 {
      font-size: 24px;
      font-weight: 300;
    }
  }
  .time {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    h2 {
      font-size: 24px;
      font-weight: 300;
      color: #5b6375;
    }
    i {
      font-size: 20px;
      font-weight: 300;
      color: #5b6375;
    }
    button {
      background-color: #ef3833;
      border-radius: 20px;
      padding: 5px 20px;
      color: #fff;
      border: 1px solid transparent;
    }
  }
}

.main-img {
  padding-top: 100px;
  width: 550px;
}

.box2 {
  h1 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #fff;
  }
  h2 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.3em;
    color: #fff;
  }
  div {
    display: flex;
    align-items: center;
    gap: 30px;
    h3 {
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 0.03em;
      color: #fff;
      padding-top: 15px;
      span {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.03em;
        color: #fff;
      }
    }
  }
}

.sec1 {
  background-color: #0e0e18;
  
}

.box3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .days{
    h2{
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.03em;
      color: #63CDF6;
    }
    div{
      display: flex;
      align-items: center;
      gap: 20px;
      p{
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 0.03em;
      color: #fff;
      }
    }
  }
  .price{
    div{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      h2{
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.03em;
      color: #45CCFF;
      span{
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0.03em;
        color: #ffffff;
        text-decoration: line-through;
      }
      }
      i{
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0.03em;
        color: #45CCFF;
        padding-right: 25px;
      }
    }
    button{
      background-color: #45CCFF;
      padding: 7px 30px;
      border: solid transparent;
      border-radius: 25px;
      color: #fff;
      margin-left: 140px;
      margin-top: 20px;
    }
  }
}

.sec2{
  background: radial-gradient(17.5% 60.52% at 96.35% 107.82%, rgba(239, 56, 51, 0.195) 0%, rgba(239, 56, 51, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
radial-gradient(12.83% 39.86% at 12.01% 47.74%, rgba(33, 37, 60, 0.879) 0%, rgba(21, 22, 40, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-color: #0e0e18;
  height: 50vh;
  padding-top: 100px;
}


.info{
  .sec-img{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .sec-text{
    padding-top: 30px;
    h1{
      font-size: 40px;
      font-weight: 300;
      letter-spacing: 0.03em;
      color: #ffffff;
    }
    h2{
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 0.03em;
      color: #ffffff;
    }
  }
  .sec-box{
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    width: 80%;
    .q{
      width: 270px;
      height: 110px;
      background-color: #fff;
      text-align: start;
      border-radius: 5px;
      margin-top: 60px;
      p{
        padding-left: 20px;
        padding-top: 30px;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.03em;
        span{
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 0.03em;
          color: #3F4266;
        }
      }
      img{
        background-color: #ffffff;
        padding: 10px;
        border-radius: 30px;
        position: absolute;
        bottom: 85px;
        left: 200px;
        box-shadow: 0px 4px 16px 0px #00000040;
      }
    }
    .w{
      width: 270px;
      height: 110px;
      background-color: #fff;
      text-align: start;
      border-radius: 5px;
      margin-top: 60px;
      p{
        padding-left: 20px;
        padding-top: 35px;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.03em;
        span{
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 0.03em;
          color: #3F4266;
        }
      }
      img{
        background-color: #ffffff;
        padding: 10px;
        border-radius: 30px;
        position: absolute;
        bottom: 85px;
        left: 510px;
        box-shadow: 0px 4px 16px 0px #00000040;
      }
    }
  }
  .e{
    width: 270px;
    height: 110px;
    background-color: #fff;
    text-align: start;
    border-radius: 5px;
    margin-top: 60px;
    p{
      padding-left: 20px;
      padding-top: 35px;
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 0.03em;
      span{
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.03em;
        color: #3F4266;
      }
    }
    img{
      background-color: #ffffff;
      padding: 10px;
      border-radius: 30px;
      position: absolute;
      bottom: 85px;
      left: 820px;
      box-shadow: 0px 4px 16px 0px #00000040;
    }
  }
}

.sec3{
  background: radial-gradient(17.5% 60.52% at 96.35% 107.82%, rgba(239, 56, 51, 0.195) 0%, rgba(239, 56, 51, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
radial-gradient(27.28% 91.21% at 14.55% 97.9%, rgba(33, 37, 60, 0.8) 0%, rgba(21, 22, 40, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-color: #0e0e18;
  height: 103vh;
  padding-top: 80px;
}

.sec3-img{
  display: flex;
  align-items: center;
  gap: 15px;
}

.sec3-text{
  padding-top: 30px;
  h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
  h2{
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

.six{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  div{
    display: flex;
    align-items: center;
    gap: 35px;
    width: 450px;
    height: 150px;
    padding-left: 30px;
    i{
      font-size: 18px;
      font-weight: 300;
      color: #fff;
      padding-bottom: 18px;
    }
    p{
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.03em;
      color: #fff;
    }
  }
  .t{
    border-left: 2px solid #ffffff41;
    border-bottom: 2px solid #ffffff41;
    border-right:  2px solid #ffffff41;
    margin-top: 40px;
  }
  .y{
    border-bottom: 2px solid #ffffff41;
    margin-top: 40px;
    img{
      position: absolute;
      left: 350px;
      top: 130px;
    }
  }

  .may{
    div{
      display: flex;
      flex-wrap: wrap;
      height: 80px;
      h2{
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.03em;
        color: #45CCFF;
        span{
          font-size: 24px;
          font-weight: 300;
          letter-spacing: 0.03em;
          color: #ffffff;
          text-decoration: line-through;
        }
        }
        button{
          background-color: #45CCFF;
          padding: 7px 30px;
          border: solid transparent;
          border-radius: 25px;
          color: #fff;
          margin-left: 100px;
        }
    }
  }

  .p{
    .ss{
    position: absolute;
    left: 320px;
    top: 200px;
    }
    .s{
      position: absolute;
      bottom: 95px;
      left: 260px;
    }
    p{
      padding-bottom: 15px;
    }
  }
  .a{
    border-left: 2px solid #ffffff41;
    border-right: 2px solid #ffffff41;
  }
}

.sec3-last{
  text-align: center;
  padding-top: 200px;
  h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding-top: 40px;
  }
}

.sec4{
  .d{
    display: flex;
    align-items: center;
    gap: 2px;
    max-width: 100%;
    img{
      width: 17%;
      height: 300px;
    }
  }
  .dd{
    display: flex;
    align-items: center;
    gap: 2px;
    img{
      width: 20%;
    }
  }
}

footer{
  background-color: #0e0e18;
  height: 15vh;
  padding-top: 50px;
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      div {
        p {
          color: #ffffff6e;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
  
  .number {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    div {
      p {
        color: #414157;
        font-size: 12px;
        font-weight: 400;
      }
      h4 {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
      }
    }
    i {
      color: #fff;
      font-size: 25px;
    }
    .f{
      padding-right: 50px;
      width: 200px;
      padding-top: 10px;
    }
  }
}