@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  height: 13vh;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.sec > a {
  text-decoration: none;
  color: #1a236eb2;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  padding-left: 20px;
}

.logo > h1 {
  color: #1a236e;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
}

.num > p {
  color: #1a236eb2;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  padding-left: 25px;
}

.num > h1 {
  color: #1a236e;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  padding-top: 10px;
}

.but > button {
  color: #1a236e;
  padding: 15px;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  background-color: #1a226e00;
  border: 1px solid #0000001a;
  border-radius: 10px;
}

main {
  height: 90vh;
  background-image: url(img/hero.png);
  background-size: cover;
  background-position: center;
}

.wrapper {
  text-align: center;
  padding-top: 200px;
}

.wrapper > h1 {
  color: #fff;
  font-size: 60px;
  padding-bottom: 10px;
}

.wrapper > .q {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 50px;
}

.wrapper > div > .w {
  color: #1a236e;
  background-color: #fcdf00;
  padding: 20px 30px;
  border: 0px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  margin-right: 10px;
}

.wrapper > div > .e {
  color: #1a236e;
  padding: 20px 30px;
  border: 0px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  margin-left: 10px;
}

.wrapper > p {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding-top: 50px;
}

.dover {
  height: 80vh;
  background-color: #f7f8fa;
}

.r {
  text-align: center;
  padding-top: 100px;
}

.r > h1 {
  color: #1a236e;
  font-size: 60px;
  padding-bottom: 20px;
}

.r > p {
  color: #1a236eb2;
  font-size: 25px;
  font-weight: 600;
}

.t > button {
  border: 1px solid #ffffff;
  border-radius: 60px;
  font-size: 30px;
  box-shadow: 0px 0px 53px -1px rgba(34, 60, 80, 0.2);
  width: 80px;
  padding: 20px;
  color: #1a246f;
  font-weight: 800;
  background-color: #ffffff;
}

.t {
  text-align: center;
  width: 18%;
  height: 25vh;
}

.t > h2 {
  font-size: 30px;
  padding-top: 30px;
  font-weight: 660;
  color: #1a236e;
}

.t > p {
  font-size: 18px;
  font-weight: 800;
  color: #1a236e66;
  padding-top: 20px;
}

.four {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  gap: 20px;
}

.alex {
  height: 60vh;
  background-color: #ffffff;
}

.foto {
  text-align: center;
  padding-top: 120px;
}

.foto > img {
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
}

.foto > h1 {
  font-size: 20px;
  color: #1a236e;
  padding-bottom: 40px;
}

.foto > h2 {
  font-weight: 650;
  color: #1a236e;
  padding-bottom: 10px;
  font-size: 18px;
}

.foto > p {
  font-size: 12px;
}

.foto > h3 {
  padding-top: 30px;
  font-size: 40px;
  color: #0000001a;
}

.foto > h3 > span {
  color: #fcdf00;
}

.online {
  background-image: url(img/watch.png);
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.onli {
  background-color: rgba(17, 17, 121, 0.361);
  width: 100%;
  height: 50vh;
  text-align: center;
}

.zakaz {
  padding-top: 80px;
}

.zakaz > h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 650;
  padding-bottom: 30px;
}

.zakaz > h3 {
  color: #ffffffcc;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 40px;
}

.zakaz > div > input {
  font-size: 18px;
  padding: 20px 27px;
  font-weight: 760;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 13px;
  color: #00000012;
}

.zakaz > div > button {
  color: #1a236e;
  background-color: #fcdf00;
  padding: 20px 30px;
  border: 0px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  margin-right: 10px;
}

.zakaz > p {
  color: #ffffff;
  font-size: 15px;
  padding-top: 30px;
}

.zakaz > p > span {
  color: #ffffffb2;
}
