@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}

.container {
  width: 75%;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  gap: 21px;
}

.buttons > button:nth-child(1) {
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #96bb7c;
  font-weight: 700;
}

.buttons > button:nth-child(2) {
  border: 0px solid transparent;
  padding: 20px;
  background-color: #96bb7c;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 15px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav > a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  color: #737373;
}

.hero {
  display: flex;
  align-items: center;
  height: 70vh;
  position: relative;
}

.hero > img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.hero-box > h2 {
  font-size: 16px;
  font-weight: 700;
  color: #96bb7c;
  margin-bottom: 20px;
}

.hero-box > h1 {
  font-size: 58px;
  font-weight: 700;
  color: #252b42;
  margin-bottom: 20px;
  width: 500px;
}

.hero-box > p {
  font-size: 20px;
  font-weight: 400;
  color: #737373;
  margin-bottom: 20px;
  width: 300px;
}

.hero-box > .q {
  border: 0px solid transparent;
  padding: 15px 30px;
  background-color: #96bb7c;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
}

.hero-box > .w {
  border: 1px solid #96bb7c;
  padding: 14px 30px;
  background-color: transparent;
  color: #96bb7c;
  border-radius: 5px;
  font-weight: 700;
}

.product {
  height: 60vh;
}

.pack {
}

.app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 200px;
}

.pack > h1 {
  font-size: 40px;
  font-weight: 900;
  color: #e74040;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

.pack > h2 {
  font-size: 40px;
  font-weight: 700;
  color: #252b42;
  margin-bottom: 30px;
}

.pack > p {
  font-size: 14px;
  font-weight: 550;
  color: #737373;
  width: 351px;
  margin-bottom: 30px;
}

.pack > button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #96bb7c;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 20px;
}

.cert {
  right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cert > div {
  width: 249px;
  height: 292px;
  box-shadow: 0px 13px 19px 0px #00000012;
  text-align: start;
  padding-left: 40px;
  padding-top: 20px;
}

.cert > div > i {
  width: 70px;
  height: 76px;
  font-size: 30px;
  background-color: #96bb7c;
  text-align: center;
  padding-top: 20px;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cert > div > h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.cert > div > h3 {
  font-size: 30px;
  font-weight: 700;
  color: #e74040;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

.cert > div > p {
  font-size: 14px;
  font-weight: 550;
  width: 132px;
}

.pricing {
  height: 70vh;
}

.video {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-img > img {
  width: 500px;
}

.contact {
  height: 90vh;
}

.advice {
  margin-top: 150px;
  position: relative;
}

.problem > h3 {
  font-size: 14px;
  font-weight: 700;
  color: #96bb7c;
  margin-bottom: 20px;
}

.problem > h1 {
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.problem > p {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 70px;
  width: 469px;
}

.sale {
  width: 501px;
  height: 402px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.diff{
  display: flex;
  align-items: center;
  gap: 20px;
}

.sale-img{
  position: relative;
}

.sale-img > p {
  width: 45px;
  height: 25px;
  background-color: #e74040;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  padding: 4px 6px;
  position: absolute;
  margin: 20px;
}

.sale-img > div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  position: absolute;
  bottom: 30px;
  left: 26px;
}

.sale-img > div > i{
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 40px;
  text-align: center;
  padding-top: 12px;
}

.sale-price > .r {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 35px;
  margin-bottom: 15px;
}

.sale-price > .r > h3 {
  font-size: 14px;
  font-weight: 700;
  color: #96bb7c;
}

.sale-price > .r > p {
  width: 50px;
  height: 26px;
  background-color: #2d4059;
  border-radius: 20px;
  text-align: center;
  padding-top: 5px;
  font-size: 12px;
  color: #fff;
}

.sale-price > .r > p > i {
  color: #ffce31;
}

.sale-price > h3 {
  font-size: 16px;
  font-weight: 700;
  color: #252b42;
  margin-bottom: 15px;
}

.sale-price > p {
  font-size: 13px;
  font-weight: 550;
  color: #737373;
  width: 242px;
  margin-bottom: 15px;
}

.sale-price > h4 {
  font-size: 14px;
  font-weight: 700;
  color: #737373;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.sale-price > h5 {
  font-size: 16px;
  font-weight: 700;
  color: #bdbdbd;
  margin-bottom: 30px;
}

.sale-price > h5 > span {
  color: #ffab71;
  margin-left: 10px;
}

.sale-price > .t {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.sale-price > .t > p {
  font-size: 12px;
  font-weight: 400;
  color: #737373;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sale-price > .t > p > i {
  color: #96bb7c;
}

.sale-price > button {
  border: 1px solid #96bb7c;
  padding: 14px 30px;
  background-color: transparent;
  color: #96bb7c;
  border-radius: 30px;
  font-weight: 700;
}

.our{
  height: 100vh;
}

.bio{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 150px;
}


.biog{
  width: 508px;
  height: 380px;
  text-align: center;
}

.biog > img{
  width: 128px;
  height: 128px;
  border-radius: 200px;
  margin-bottom: 20px;
}

.biog > p{
  width: 320px;
  height: 60px;
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  margin-left: 90px;
  margin-bottom: 15px;
}

.biog > div > i{
  color: #F3CD03;
}

.biog > h3{
  font-size: 16px;
  font-weight: 700;
  color: #252B42;
  margin-top: 20px;
  margin-bottom: 10px;
}

.biog > h4{
  font-size: 14px;
  font-weight: 700;
  color: #737373;
}

.edu{
  height: 90vh;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 150px;
}

.prof{
  width: 240px;
  height: 375px;
  border-radius: 20px;
  box-shadow: 0px 13px 19px 0px #00000012;
  text-align: center;
}

.prof > img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.prof > h3{
  color: #252B42;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

.prof > p{
  font-size: 12px;
  font-weight: 400;
  color: #737373;
  margin-top: 10px;
}

.prof > div > i{
  color: #96bb7c;
  font-size: 20px;
}

.prof > div{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.sub{
  height: 80vh;
  background-color: #FFF2F3;
}

.problem1{
  text-align: center;
  padding-top: 200px;
}

.problem1 > h3 {
  font-size: 14px;
  font-weight: 700;
  color: #96bb7c;
  margin-bottom: 10px;
}

.problem1 > h1 {
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.problem1 > p {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 70px;
  width: 469px;
  margin-left: 480px;
}

.em{
  text-align: center;
  margin-top: 100px;
}

.em > input{
  width: 690px;
  height: 60px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #737373;
}

.em > button{
  width: 120px;
  height: 60px;
  background-color: #96bb7c;
  border: 1px solid #96bb7c;
  border-radius: 0px, 5px, 5px, 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.info{
  height: 30vh;
}

.company{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.company > div > p{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #737373;
}

.company > div > h4{
  margin-bottom: 10px;
}

.company{
  padding-top: 60px;
}

.ph{
  margin-bottom: 20px;
}

.ph > p > i{
  margin-top: 0;
  color: #96bb7c;
  padding-right: 10px;
}

footer{
  height: 10vh;
  background-color: #FAFAFA;
}

footer > .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

footer > .container > div{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  color: #96bb7c;
}

footer > .container > p{
  font-size: 14px;
  font-weight: 700;
  color: #737373;
}



@media (max-width: 960px) {
  nav {
    display: none;
  }

  .container {
    width: 90%;
  }

  header {
    justify-content: space-between;
  }

  .hero {
    align-items: start;
    height: 120vh;
    text-align: center;
  }

  .hero-box {
    margin: 0 auto;
    margin-top: 30px;
  }

  .hero-box > p {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .hero > img {
    width: 800px;
  }

  .product {
    height: 80vh;
  }

  .app {
    display: grid;
    gap: 100px;
    justify-content: center;
  }

  .pack {
    text-align: center;
  }

  .pack > p {
    margin-left: 80px;
  }

  .pack > button {
    margin-left: 210px;
  }

  .pricing {
    height: 110vh;
  }

  .video {
    display: grid;
    gap: 100px;
    justify-content: center;
  }

  .contact{
    height: 170vh;
  }

  .problem{
    text-align: center;
  }

  .problem > p{
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .diff{
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .our{
    height: 125vh;
  }

  .bio{
    display: grid;
    gap: 50px;
  }

  .profile{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .edu{
    height: 120vh;
  }

  .problem1 > p{
    margin: 0 auto;
  }

  .company{
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
